body {
  background-color: #63add0;
}
html * {
  color: #000;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 1em;
  margin: 0;
}
form {
  background-color: #EEE;
  border: 2px solid #CCC;
  border-radius: 25px;
  box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.75);
  margin: 0 auto;
  width: 75%;
}
#copyright {
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
}
#copyright a {
  color: #F80;
  text-decoration: none;
}
#copyright a:hover {
  text-decoration: underline;
}
#form-container {
  padding: 10px 25px 10px 25px;
}
#form-container h2 {
  font-size: 1.5em;
  text-align: center;
}
#form-container textarea {
  border: 1px solid #CCC;
  height: 100px;
  padding: 5px 0 0 5px;
  text-align: left !important;
  width: 100%;
}
#form-container > div * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#form-container > div > div {
  margin: 25px;
}
#footer {
  background-color: #cccccc;
}
#header-wrapper {
  background-color: #086FA1;
  margin: 0 auto;
  width: 80%;
}
#header-wrapper,
#main-wrapper {
  box-shadow: 0 0 2px #333;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.75);
}
#heading {
  background-color: #F80;
  width: 100%;
}
#page-title {
  color: #FFF;
  font-size: 2em;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}
#page {
  background-color: #FFBE73;
  margin: 0;
  padding: 0;
}
.main {
  background-color: #63ADD0;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 80%;
}
.form-description {
  margin-top: 15px;
  text-align: left !important;
}
.form-group-wrapper {
  width: 80%;
}
